body {
    background-color: rgba(248, 187, 240,0.3);

}

.container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 300px;
    height: 80px;
    margin-top: 50px;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }

    .image {
        width: 100%;
    }
}

/* the styles are for my video  */
/* .title {
    display: block;
    margin-top: 50px;
    width: 400px;
    height:150px;
}
.icon {
    display: block;
    width: 200px;
    height:200px;
    border-radius: 50%;
} */
/* 

@media screen and (max-width: 380px) {
    .icon {
        display:none;
    }
    
} */